{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PT Gris</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing-page.css" %}" rel="stylesheet">

    <!-- Jquery UI CSS -->
    <link rel="stylesheet" href="{% static "jqueryui/jquery-ui.css" %}">

    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('{% static "img/6.gif" %}') 50% 50%   no-repeat rgb(249,249,249);
        }
      .bar {
        fill: steelblue;
      }

      .bar:hover {
        fill: brown;
      }

      .axis--x path {
        display: none;
      }

    </style>

</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Lenguaje y Razonamiento</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Lenguaje y Razonamiento</h1>
          <hr class="intro-divider">
            <br>
        </div>
      </div>
    </header>

<!-- Page Content -->
    <section class="content-section-a">
      <div class="container">
          <ul class="nav nav-tabs">
          <li class="active">
            <a class="nav-link active" href="#busqueda" data-toggle="tab">Búsqueda</a>
          </li>
          <li class="">
            <a class="nav-link" href="#historial" data-toggle="tab">Historial</a>
          </li>
          <li class="">
            <a class="nav-link" href="#agrupamiento" data-toggle="tab">Agrupamiento</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Graficas</a>
            <div class="dropdown-menu">
              <a href="#graficaBurbujas" data-toggle="tab">Burbujas</a>
              <a href="#graficaBarras" data-toggle="tab">Barras</a>
              <a href="#graficaUber" data-toggle="tab">Neighborhood User/Hash</a>
              <a href="#graficaUberUsuario" data-toggle="tab">Neighborhood User</a>
              <a href="#graficaUberHashtag" data-toggle="tab">Neighborhood Hash</a>
            </div>
          </li>
        </ul>
        <br>
        <div class="tab-content">
          <div id="busqueda" class="tab-pane active">
            <div class="form-control">
                {{ form.errors }}
                {{ form.non_field_errors }}
                <form class="" action="" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-primary" id="btn-busqueda" type="button" name="button">Buscar</button>
                </form>
            </div>

          </div>
          <div id="historial" class="tab-pane">
            <div class="form-control">
                <table class="table table-responsive-sm table-striped">
                  <thead>
                      <tr>
                          <td></td>
                          <td>Busqueda:</td>
                          <td>Cantidad</td>
                      </tr>
                  </thead>
                    <tbody id="busquedas">
                    </tbody>
                </table>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary" id="btn-modal">Descargar</button>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3"></div>
            </div>
          </div>
          <div id="agrupamiento" class="tab-pane fade">
            <div class="form-group">
                <label for="tipo">K-means</label>
                <input type="radio" name="tipo_grafica" value="kmeans" checked>
            </div>
            <div class="form-group">
                <label for="k_groups">Grupos</label>
                <input class="form-control" name="k_groups" id="k_groups" type="number" min="2" value="2">
            </div>
            <div class="form-group">
                <button class="btn btn-principal btn-primary" id="gen_graphic">Generar</button>
                <button class="btn btn-principal btn-primary" id="down_clusters">Descargar</button>
            </div>
          </div>
          <!-- Los paneles de graficas -->
          <div id="graficaBurbujas" class="tab-pane fade"></div>
          <div id="graficaBarras" class="tab-pane fade"></div>
          <div id="graficaUber" class="tab-pane fade"></div>
          <div id="graficaUberUsuario" class="tab-pane fade"></div>
          <div id="graficaUberHashtag" class="tab-pane fade"></div>
          <div id="graficaSand" class="tab-pane fade"></div>
          <div id="loader" class="loader" style="display:none;"></div>
          <div class="alert alert-primary" role="alert" id="b_content"></div>
        </div>
      </div>
    </section>

<!-- Footer -->
    <footer>
      <div class="container">
        <p class="copyright text-muted small">UAM Cuajimalpa</p>
      </div>
    </footer>

    <!-- Modal de descarga -->
    <div class="modal" tabindex="-1" role="dialog" id="descarga">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Descargar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input type="checkbox">Fecha
              <input type="checkbox">Texto
              <input type="checkbox">Usuario
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="descarga_json">JSON</button>
            <button type="button" class="btn btn-primary" id="descarga_csv">CSV</button>
          </div>
        </div>
      </div>
    </div>



<!-- Parte de las graficas -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- parte de burbujas -->
<script src="{% static "jsUAM/burble.js" %}" charset="utf-8"></script>

<!-- Parte de barras -->
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{% static "jsUAM/bars.js" %}" charset="utf-8"></script>


<!-- Parte de Uber -->
<script src="{% static "jsUAM/uber.js" %}" charset="utf-8"></script>

<!-- Funciones generales -->


<!-- Bootstrap core JavaScript -->
<script src="{% static "js//jquery.min.js" %}"></script>

<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

<!-- Jquery UI-->
<script src="{% static "jqueryui/jquery-ui.js" %}"></script>

<script>
// Carga las busquedas realizadas
function load_busquedas() {
   $.ajax({
       type: 'POST',
       url: '/gris/busquedas/',
       data: {
           csrfmiddlewaretoken: '{{ csrf_token }}'
       },
       dataType: 'json',
       complete: function (data) {
           var result = JSON.parse(data.responseText);
           if(result != null){
               $('#busquedas').empty();
               for(i=0; i< result.resultado.length; i++){
                   var b = result.resultado[i];
                   var fila = document.createElement('tr');
                   var input = document.createElement('input');
                   input.type = 'radio';
                   input.value = b['folio'];
                   input.name = 'descarga';
                   var td0 = document.createElement('td');
                   td0.appendChild(input);
                   var td1 = document.createElement('td');
                   td1.innerHTML = b['busqueda'];
                   //var td2 = document.createElement('td');
                   //td2.innerHTML = b['fecha'];
                   var td3 = document.createElement('td');
                   td3.innerHTML = b['cantidad'];

                   var td4 = document.createElement('td');
                   td4.innerHTML = b['fecha'];

                   fila.append(td0);
                   fila.append(td1);
                   //fila.append(td2);
                   fila.append(td3);
                   //fila.append(td4);
                   $('#busquedas').append(fila);
               }
           }
       },
       error: function(){
           console.log('No trajo las busquedas');
       }
   });
}

// Al descargar csv
$('#descarga_csv').click(function () {
   var folio = $('input[name="descarga"]:checked').val();
   var url = '/gris/down_csv/';
   var form = $("<form action='" + url + "' method='post'>" +
             "<input type='hidden' name='folio' value='" + folio + "' />" +
             "{% csrf_token %}"+
             "</form>");
   $('body').append(form);
   form.submit();
   $("#descarga").modal('hide');
});

// Generar y descargar los kluster
$('#down_clusters').click(function(){
   var folio = $('input[name="descarga"]:checked').val();
   var tipo = $('input[name=tipo_grafica]:checked').val();
   var url = '/gris/down_kluster/';


   if(tipo === 'kmeans'){
       var grupos = $('#k_groups').val();
       // Hace la peticion de formulario

       var form = $("<form action='" + url + "' method='post'>" +
             "<input type='hidden' name='folio' value='" + folio + "' />" +
             "<input type='hidden' name='grupos' value='" + grupos + "' />" +
             "{% csrf_token %}"+
             "</form>");
       $('body').append(form);
       form.submit();
   }
});

// Al descargar json
$('#descarga_json').click(function () {
   var folio = $('input[name="descarga"]:checked').val();
   var url = '/gris/down_json/';
   var form = $("<form action='" + url + "' method='post'>" +
             "<input type='hidden' name='folio' value='" + folio + "' />" +
             "{% csrf_token %}"+
             "</form>");
   $('body').append(form);
   form.submit();
   $("#descarga").modal('hide');
});

// grafica
$('#gen_graphic').click(function () {
   var folio = $('input[name="descarga"]:checked').val();
   var tipo = $('input[name=tipo_grafica]:checked').val();
   if(tipo === 'kmeans'){
       var grupos = $('#k_groups').val();
       get_kmeans(grupos, folio);
   }

});

function get_kmeans(grupos, folio){
    $('#graficaUber').empty();
    $('#graficaBarras').empty();
    $('#graficaBurbujas').empty();
   $.ajax({
       type: 'POST',
       url: '/gris/kmeans/',
       data: {
           csrfmiddlewaretoken: '{{ csrf_token }}',
           grupos: grupos,
           folio: folio
       },
       dataType: 'json',
       beforeSend: function(){
           $('#loader').show();
       },

       complete: function (resultadoJson) {
           var obj = JSON.parse(resultadoJson['responseText']);
           var datosJSON = obj['datos'];
           var tamanios = obj['tamanios'];
           var circuloJSON = obj['circulo'];
           var circuloJSON_u = obj['circulo_u'];
           var circuloJSON_h = obj['circulo_h'];
           //console.log(datosJSON);
           if(datosJSON!=null){
             var tm = datosJSON.length;
             creaBurbujas(datosJSON);
             creaBarras(tamanios, m);
             creaCirculo(circuloJSON, '#graficaUber');
             creaCirculo(circuloJSON_u, '#graficaUberUsuario');
             creaCirculo(circuloJSON_h, '#graficaUberHashtag');
             $('#loader').hide();
           }
       },
       error: function(){
           console.log('No trajo las busquedas');
       }
   });
}


    $( function() {
        $( "#id_fecha_inicio" ).datepicker();
        $( "#id_fecha_fin" ).datepicker();
    } );

    $('#btn-modal').click(function () {
        $("#descarga").modal('show');
    });

    $('#btn-busqueda').click(function () {
        var busqueda = $('#id_busqueda').val();
        var cantidad = $('#id_cantidad').val();
        var tipo = $('input[name=tipo]:checked').val();
        var fecha_inicio = $('#id_fecha_inicio').val();
        var fecha_fin = $('#id_fecha_fin').val();
        $.ajax({
            type: 'POST',
            url: '/busqueda/',
            dataType: 'JSON',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                busqueda: busqueda,
                cantidad:cantidad,
                tipo:tipo,
                fecha_fin:fecha_fin,
                fecha_inicio: fecha_inicio
            },
            beforeSend: function(){
                $('#loader').show();
            },
            success: function (data) {
                console.log(JSON.stringify(data));
                $('#loader').hide();
                load_busquedas();
            },
            error: function () {
                console.log('Error en la busqueda');
            }
        });
    });
    // Al cargar el sitio
    $(document).ready(function () {
        $('#id_tipo_1').prop('checked', true);
        load_busquedas();
    });
</script>
</body>
</html>
